<header>
  <nav class="navbar navbar-expand-xl navbar-light">
    <a class="navbar-brand" href="#">
      <span>Tardy Jimmy</span>
      <span>Développeur Full stack</span>
    </a>
    <button (click)="onToogleMenu()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fas fa-angle-double-down"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" title="Expérience Professionnel">
          <i class="fas fa-briefcase"></i>
          <a class="nav-link disabled" href="#">Expériences Pro.</a>
        </li>
        <li class="nav-item" title="Compétences">
          <i class="fas fa-address-card"></i>
          <a class="nav-link disabled" href="#">Compétences</a>
        </li>
        <li class="nav-item" title="Projets">
          <i class="fas fa-laptop-code"></i>
          <a class="nav-link disabled" href="#">Projets</a>
        </li>
        <li class="nav-item" title="Diplômes">
          <i class="fas fa-graduation-cap"></i>
          <a class="nav-link disabled" href="#">Diplômes</a>
        </li>
        <li class="nav-item" title="À propos de moi">
          <i class="fas fa-user"></i>
          <a class="nav-link disabled" href="#">À propos</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
