@import "../mixin";

header {
    background-color: @lightGrey;
    width: 100vw;
    .navbar {
        .navbar-toggler {
            border: none;
            outline: none;
            svg.open {
                transform: rotate(180deg);
            }
        }

        a.navbar-brand {
            color: @mainBlue;
            font-weight: 700;
            display: flex;
            text-align: center;
            flex-direction: column;
            span:first-child {
                font-size: 20px;
            }
            span:last-child {
                font-size: 15px;
            }
            span {
                letter-spacing: 0.1em;
            }
        }

        .navbar-collapse {
            justify-content: flex-end;
            ul.navbar-nav {
                display: flex;
                width: 100%;
                max-width: 1200px;
                justify-content: space-around;
                .nav-item {
                    padding: 3px 15px;
                    display: flex;
                    border-radius: 15px;
                    -webkit-transition: background-color 0.5s ease-out;
                    -moz-transition: background-color 0.5s ease-out;
                    -o-transition: background-color 0.5s ease-out;
                    transition: background-color 0.5s ease-out;
                    &:hover {
                        background-color: @normalGrey;
                        &, a {
                            color: @halfDarkerGrey;
                        }
                    }

                    &, a {
                        letter-spacing: 0.15em;
                        font-weight: 600;
                        color: @normalGrey;

                        &:hover {
                            cursor: pointer;
                        }
                        &.not-ready {
                            text-decoration: line-through;
                        }
                    }

                    &.active {
                        a , svg {
                            color: @halfDarkerGrey;
                            font-weight: 700;
                        }
                    }

                    svg {
                        font-size: 23px;
                        margin-right: 8px;
                        &.fa-portrait {
                            margin-top: 7px;
                        }
                        &.fa-graduation-cap {
                            margin-top: 8px;
                        }
                        &.fa-address-card {
                            margin-top: 8px;
                        }
                        &.fa-briefcase {
                            margin-top: 7px;
                        }
                        &.fa-laptop-code {
                            margin-top: 7px;
                        }
                    }
                }
            }
        }
    }

    select {
        background-color: @mainBlue;
        border-radius: 15px;
        font-size: 20px;
        width: 95px;
        height: 39px;
        color: white;
        text-transform: uppercase;
        border: 1px solid @mainBlue;
        border-radius: 4px;
        margin-right: 20px;
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 5px 3.5em 0.5em 1em;
        background-image:   linear-gradient(45deg, transparent 50%, @mainBlue 50%),
                            linear-gradient(135deg, @mainBlue 50%, transparent 50%),
                            radial-gradient(white 70%, transparent 72%);
        background-position: calc(100% - 21px) 1em, calc(100% - 16px) 1em, calc(100% - 9px) 6px;
        background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
        background-repeat: no-repeat;
        &:hover {
            cursor: pointer;
        }

        &:focus {
            background-image:   linear-gradient(45deg, white 50%, transparent 50%),
                                linear-gradient(135deg, transparent 50%, white 50%),
                                radial-gradient(@halfDarkerGrey 70%, transparent 72%);
            background-position: calc(100% - 17px) 1em, calc(100% - 22px) 1em, calc(100% - 10px) 7px;
            background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
            background-repeat: no-repeat;
            border: none;
            outline: 0;
        }
    }
}

@media screen {
    @media (min-width: 1200px) and (max-width: 1300px) {
        header .navbar .navbar-collapse ul.navbar-nav .nav-item {
            padding: 0 15px;
        }
    }
    @media (min-width: 1301px) and (max-width: 1470px) {
        header .navbar .navbar-collapse ul.navbar-nav .nav-item {
            padding: 0 25px;
        }
    }
    @media (max-width: 1199px) {
        header .navbar .navbar-collapse ul.navbar-nav .nav-item {
            padding-top: 10px;
            svg {
                width: 45px;
            }
        }
    }
    @media (max-width: 350px) {
        header .navbar .navbar-collapse ul.navbar-nav .nav-item {
            padding: 0 25px;
        }
    }
}
