<div class="page page-skills">
    <h1 class="page-title" [textContent]="Locale.MySkills"></h1>
    <div class="page-body">
        <section class="group-skill web">
            <h2 class="skill-title">
                <i class="fas fa-globe"></i>
                {{Locale.Web}}
            </h2>
            <div class="skill-body">
                <div id="left">
                    <h3>Front-end</h3>
                    <div class="left-body">
                        <div class="zone-box">
                            <div class="box" *ngFor="let front of frontEnd">
                                <div class="box-inner">
                                    <div class="box-front">
                                        <div class="image" [ngStyle]="{'background-image': 'url(' + front.image + ')'}"></div>
                                        <div class="stars">
                                            <i class="fas fa-star" *ngFor="let item of [].constructor(front.starsNumber)"></i>
                                            <i *ngIf="front.stars % 1 > 0" class="fas fa-star-half-alt"></i>
                                        </div>
                                    </div>
                                    <div class="box-back">
                                        <h4 class="zone-text-long" [title]="front.title" [textContent]="front.title"></h4>
                                        <span [title]="Locale['description' + front.title]" [textContent]="Locale['description' + front.title]"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="line-separator"></div>
                <div id="right">
                    <h3>Back-end</h3>
                    <div class="right-body">
                        <div class="zone-box">
                        <div class="box" *ngFor="let back of backEnd">
                            <div class="box-inner">
                                <div class="box-front">
                                    <div class="image" [ngStyle]="{'background-image': 'url(' + back.image + ')'}"></div>
                                    <div class="stars">
                                        <i class="fas fa-star" *ngFor="let item of [].constructor(back.starsNumber)"></i>
                                        <i *ngIf="back.stars % 1 > 0" class="fas fa-star-half-alt"></i>
                                    </div>
                                </div>
                                <div class="box-back">
                                    <h4 class="zone-text-long" [title]="back.title" [textContent]="back.title"></h4>
                                    <span [title]="Locale['description' + back.title]" [textContent]="Locale['description' + back.title]"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="group-skill other">
                <h2 class="skill-title">
                    <i class="fas fa-chart-pie"></i>
                    {{Locale.OtherSkills}}
            </h2>
            <div class="skill-body">
                <div class="zone-box">
                    <div class="box" *ngFor="let other of others">
                        <div class="box-inner">
                            <div class="box-front">
                                <div class="image" [ngStyle]="{'background-image': 'url(' + other.image + ')'}"></div>
                                <div class="stars">
                                    <i class="fas fa-star" *ngFor="let item of [].constructor(other.starsNumber)"></i>
                                    <i *ngIf="other.stars % 1 > 0" class="fas fa-star-half-alt"></i>
                                </div>
                            </div>
                            <div class="box-back">
                                <h4 class="zone-text-long" [title]="other.title" [textContent]="other.title"></h4>
                                <span *ngIf="!other.level" [title]="Locale[other.type]" [textContent]="Locale[other.type]"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="group-skill logiciel">
            <h2 class="skill-title">
                    <i class="fas fa-code"></i>
                    {{Locale.SoftwareOrMobile}}
            </h2>
            <div class="skill-body">
                <div class="zone-box">
                    <div class="box" *ngFor="let logiciel of logiciels">
                        <div class="box-inner">
                            <div class="box-front">
                                <div class="image" [ngStyle]="{'background-image': 'url(' + logiciel.image + ')'}"></div>
                                <div class="stars">
                                    <i class="fas fa-star" *ngFor="let item of [].constructor(logiciel.starsNumber)"></i>
                                    <i *ngIf="logiciel.stars % 1 > 0" class="fas fa-star-half-alt"></i>
                                </div>
                            </div>
                            <div class="box-back">
                                <h4 class="zone-text-long" [title]="logiciel.title" [textContent]="logiciel.title"></h4>
                                <span [title]="Locale['description' + logiciel.title]" [textContent]="Locale['description' + logiciel.title]"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="group-skill sql">
            <h2 class="skill-title">
                    <i class="fas fa-database"></i>
                    {{Locale.Database}}
            </h2>
            <div class="skill-body">
                <div class="zone-box">
                    <div class="box" *ngFor="let sql of sqls">
                        <div class="box-inner">
                            <div class="box-front">
                                <div class="image" [ngStyle]="{'background-image': 'url(' + sql.image + ')'}"></div>
                                <div class="stars">
                                    <i class="fas fa-star" *ngFor="let item of [].constructor(sql.starsNumber)"></i>
                                    <i *ngIf="sql.stars % 1 > 0" class="fas fa-star-half-alt"></i>
                                </div>
                            </div>
                            <div class="box-back">
                                <h4 class="zone-text-long" [title]="sql.title" [textContent]="sql.title"></h4>
                                <span [title]="Locale['description' + sql.title]" [textContent]="Locale['description' + sql.title]"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
