<div class="page page-formations">
    <h1 class="page-title">
        <i class="fas fa-graduation-cap"></i>
        {{Locale.SchoolPath}}
    </h1>
    <div class="formation-content">
        <section class="formation"
                 [ngClass]="{'success' : formation.status == 'obtenu', 'in-progress': formation.status === 'en cours', 'red' : formation.status === 'non obtenu'}"
                 *ngFor="let formation of formations; let isLast = last">
                <i *ngIf="formation.status === 'obtenu'" class="fas fa-award status"></i>
                <i *ngIf="formation.status === 'en cours'" class="fas fa-spinner status rotating"></i>
                <i *ngIf="formation.status === 'non obtenu'" class="fas fa-times status"></i>
                <div class="formation-title">
                    {{formation.title}}
                </div>
                <p class="formation-town">
                    <i class="fas fa-map-marker-alt"></i>
                    {{formation.townId.title}} ( {{formation.townId.departmentId.title}} )
                </p>
                <img class="formation-image" [src]="formation.image">
                <div class="formation-date">
                    <span [textContent]="formation.strDate"></span>
                </div>
        </section>
    </div>
</div>
<div *ngIf="loading" class="loading">
    {{Locale.loading}}
</div>
